<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>your account is suspended</title>
  </head>
  <h1>we suspended your account!</h1>
  <body>
    someone is trying to login to your account, and failed multiple times. if it
  </body>
</html>